.field {
    /* margin: 0.6rem; */
    /* display: flex; */
    margin: auto;
    text-align: left;
    display: grid;
    grid-template-columns: 200px 250px;
    grid-template-rows: repeat(1, 60px);
}

.field label {
    display: block;
    margin-bottom: 0.2rem;
}

.field input {
    width: 14rem;
    padding: 0.5rem 0.7rem;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(32, 32, 32);
}


.error {
    height: 0.4rem;
}

.error p {
    font-size: 0.75rem;
    color: lightcoral;
    margin: 0;
}